In [2]:
import pandas as pd

In [3]:
table = pd.read_csv("temperaturas.csv", sep=";", index_col=["dia"])
table

       clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
ter      sol       19,67     28       96
qua      sol       17,51     16       20
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62
dom      sol        17,5     20       10

In [4]:
table.loc['sex','temperatura'] #iloc is for index

'10,51'

In [5]:
days = ["seg", "qua", "qui"]
info = ["clima", "vento"]

In [6]:
table.loc[days,info]

       clima  vento
dia
seg      sol     13
qua      sol     16
qui  nublado     11

In [7]:
table.loc[table.umidade > 50,['clima']]

     clima
dia
ter    sol
sex  chuva
sab  chuva